<div style="text-align: center; width: 100%; margin-bottom: 0.5%">
Логин:
<input type="text" pInputText />
</div>
<div style="text-align: center; width: 100%; margin-bottom: 1%">
Пароль:
<input type="password" pPassword [feedback]="false"/>
</div>
<div style="text-align: center; width: 100%;">
<button pButton style="width: 10%" type="button" label="Вход" class="ui-button-success"></button>
<button pButton style="width: 10%" type="button" label="Регистрация" class="ui-button-success"></button>
</div>
