<p>Hello {{ usernameous }}!</p>
<table>
  <tr>
    <td>
      <div style="margin-left: 40%; margin-top: 10%" >
        <canvas
          style="margin: 0; padding: 0; position: relative; top: 50px;"
          #canvas on-click="drawOnClick($event)" width="320" height="320">
        </canvas>
      </div>
    </td>
    <td >
      <table style="margin-left: 10%; margin-top: 10%">
        <tr >Выберите X:</tr>
        <tr>
          <td>
            <mat-slider style="width: 100%; margin-top: 2%; margin-bottom: 15%" min="-3" max="5" step="0.5" value="0" [(ngModel)]="point.xValue"></mat-slider>
          </td>
          <td>
            <i> X = {{point.xValue}}</i>
          </td>
        </tr>
        <tr>Введите значение Y:</tr>
        <tr>
          <td>
            <input id="inputY" style="margin-top: 2%; margin-bottom: 15%"
                   type="number" value="0" [min]="-3" [max]="3" [(ngModel)]="point.yValue"
                   step="any" />
          </td>
          <td>
            <i id="inputError" style="visibility: hidden"> Неверно введено значение. Y задается от -3 до 3</i>
          </td>
        </tr>
        <tr>Выберите R:</tr>
        <tr>

          <mat-slider style="width: 100%; margin-top: 2%; margin-bottom: 15%" min="-3" max="5" step="1" [(ngModel)]="point.rValue" (change)="draw_graph()"></mat-slider>
          <td>R = {{point.rValue}}</td>
        </tr>
        <tr>
          <button pButton  (click)="sendPoint()" label="Проверить"></button>
          <button pButton (click)="clearPoints()" id="clearButton"  label="Очистить таблицу"></button>
        </tr>
      </table>
    </td>
  </tr>
</table>

<div>
</div>

<table id="resultTable" style="border-collapse: collapse; visibility: hidden;
    width: 400px; text-align: center; margin-top: 5%; margin-left: 5%">
  <tr>
    <td style=" padding: 10px; border: 1px solid black">X:</td>
    <td style=" padding: 10px; border: 1px solid black">Y:</td>
    <td style=" padding: 10px; border: 1px solid black">R:</td>
    <td style=" padding: 10px; border: 1px solid black">Попадание:</td>
  </tr>
</table>
<button pButton id="quitButton" (click)="quit()"  label="Выйти"></button>
<div *ngFor="let points of requestPoints">
{{ points.x}} {{ points.y}} {{ points.r}} {{ points.hit}} {{ points.userId}}
</div>
